*{
    margin: 0;
    padding: 0;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color: white;
}
.yong{
    width:0.48rem; height:0.48rem;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
    color: #999999;
}
.nav{
    width:0.33rem; height:0.33rem;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
    color: #999999;
}
.price{
     width:0.36rem; height:0.36rem;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
    color: #5DD2A7;
}
.change{
    width:0.28rem; height:0.28rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    color: #5DD2A7;
    margin-left: 0.12rem;
}
.time{
   width: 0.28rem; height: 0.28rem;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
    color: #9E9E9E;
}
.tel{
   width: 0.32rem; height: 0.32rem;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
    color:#3AC893;
}
.yi{
    width: 100%;
    .yi1{
        margin: 0.16rem 0.18rem; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 2.15rem;
            height: 0.74rem;
        }
        .you1{
            display: flex;
            .wo{
                text-align: center;
                .ic2{
                    width: 0.45rem;
                    height: 0.45rem;
                }
                p{
                    font-size: 0.22rem;
                    color: #999;
                    margin-top: 0.1rem;
                }
            }
            .dao{
                text-align: center;
                margin-left: 0.42rem;
                .ic2{
                    width: 0.33rem;
                    height: 0.33rem;
                }
                P{
                    font-size: 0.22rem;
                    color: #999; 
                    margin-top:0.22rem;   
                }
            }
        }
    }
    
}
.one{
    width: 100%;
    height:2.54rem;
    .swiper-slide{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .swiper-pagination-bullet {
        width: 0.12rem;
        height: 0.12rem;
        display: inline-block;
        border-radius: 100%;
        background: #000;
    }
    .swiper-pagination-bullet-active{
        background: #00BE9C;
    }
}
.san{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .zhuang{
        width:25%;
        text-align: center;
        .ic1{
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background:#39C893;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.36rem 0.7rem 0.25rem 0.35rem;
            svg{
                font-size: 0.68rem;
            }
        }
        .yi2{
            background: #FEB605;
        }
        .yi3{
            background: #EDD314;
        }
        .yi4{
            background: #00B3B2;
        }
        .yi5{
            background: #1B9BF7;
        }
        .yi6{
            background: #7A73E8;
        }
        .yi7{
            background: #FF4450;
        }
        .yi8{
            background: #FD8963;
        }
        p{
            font-size: 0.28rem;
            color: #333;
            margin-bottom: 0.52rem;
        }
        .gong{
            margin-bottom: 0.4rem;
        }
    } 
}
.hui{
    width: 100%;
    height: 0.08rem;
    background: #F4F4F4;
}
.shiyi1{
    width: 100%;
    .quan{
        display: flex;
        align-items: center;
        margin: 0.32rem 0.18rem;
        .lv{
            width: 0.05rem;
            height: 0.42rem;
            background: #39C994;
        }
        p{
            font-size: 0.36rem;
            color: #000;
            margin-left: 0.12rem;
        }
        .bao{
            font-size: 0.24rem;
            color: #999;
        }
    }
    
}
.wu{
    width: 100%;
    height: 4.35rem;
    .two{
        margin: 0 0.18rem;
        height:100%;
        .swiper-slide{
            img{
                width: 100%;
                height: 4rem;
            }
        }
        .swiper-pagination {
            margin-top: 0.2rem;
        }
        .swiper-pagination-bullet {
            width: 0.12rem;
            height: 0.12rem;
            display: inline-block;
            border-radius: 100%;
            background: #000;
        }
        .swiper-pagination-bullet-active{
            background: #00BE9C;
        }
    }
}
.liu{
    width: 100%;
    .zhun{
        display: flex;
        margin: 0.36rem 0.18rem;
        .ling{
            display: flex;
            align-items: center;
            .ic3{
                width: 0.36rem;
                height: 0.36rem;
                margin-right: 0.12rem;
            }
            p{
                font-size: 0.27rem;
                color: #000;
            }
            .biao{
                margin-right: 0.4rem;
            }
        }
    }
    
}
.qi{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    input{
        width: 5.86rem;
        height: 0.7rem;
        border: 0.01rem solid #EAEAEA;
        border-radius: 0.05rem;
        font-size: 0.28rem;
        color: #cacaca;
        margin-bottom: 0.25rem;
        text-indent: 1em;
    }
    .dada{
        position: relative;
        p{
            font-size: 0.26rem;
            position: absolute;
            top: 0.15rem;
            right: 0.16rem;
        }
    }
    button{
        width: 5.86rem;
        height: 0.7rem;
        border-radius: 0.05rem;
        background: #FEB605;
        font-size: 0.36rem;
        color: white;
        border: none;
        margin-bottom: 0.36rem;
    }
}
.ba{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wufei{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0.5rem 0.36rem 0rem;
        img{
            width: 1.4rem;
            height: 1.4rem;
            margin-bottom: 0.25rem;
        }
        p{
            font-size: 0.36rem;
            color: #000;
            margin: 0;
            margin-bottom: 0.18rem;
        }
        .youxiu{
            width: 1.2rem;
            height: 0.32rem;
            text-align: center;
            line-height: 0.32rem;
            background: #39C893;
            color: white;
            font-size: 0.24rem;
        }
    }
    .zhanghai{
        margin-bottom: 0.18rem;
    }
    .ke{
        margin-left: 0.18rem;
    }
}
.jiu{
    width: 100%;
    .huan{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 0.7rem;
        margin: 0 0.18rem 0.36rem 0.18rem;
        border: 0.01rem solid #F3F3F3;
        .zuobian{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 0.01rem solid #F3F3F3;
            p{
                color: #5DD2A7;
                font-size: 0.28rem;
            }
        }
    }
}
.shi2{
    width: 100%;
    .keting{
        width: 7.16rem;
        height: 5.06rem;
        margin: 0 0.18rem 0.08rem 0.18rem;
    }
    .woshi{
        display: flex;
        flex-wrap: wrap;
        margin: 0 0.18rem 0.36rem 0.18rem;
        img{
            width: 3.54rem;
            height: 2.5rem;
        }
        .imgg{
            margin-right: 0.06rem;
            margin-bottom: 0.08rem;
        }
    }
}
.shiyi{
    width: 100%;
    img{
        width: 7.16rem;
        height: 5.34rem;
        margin: 0 0.18rem 0.32rem 0.18rem;
    }
    .zhongqi{
        display: flex;
        align-items: center;
        margin: 0 0.18rem 0.36rem 0.18rem;
        p{
            font-size: 0.28rem;
            color: #000;
        }
        .nimu{
            text-align: center;
            line-height: 0.31rem;
            width: 1.13rem;
            height: 0.31rem;
            border-radius: 0.03rem;
            background: #38C893;
            color: white;
            font-size: 0.26rem;
            margin-left: 0.3rem;
        }
    }
}
.shier{
    width: 100%;
    .fang{
        margin: 0 0.2rem 0.31rem 0.2rem;
        display: flex;
        border-bottom: 0.01rem solid #f4f4f4;
        img{
            width: 1.9rem;
            height: 1.45rem;
            margin: 0 0.22rem 0.31rem 0;
        }
        .you{
            p{
                font-size: 0.34rem;
                color: #000;
                margin-bottom:0.69rem;
            }
            .biao{
                display: flex;
                .zuo1{
                    display: flex;
                    align-items: center;
                    .ic5{
                        width: 0.28rem;
                        height: 0.28rem;
                        margin-right:0.12rem;
                    }
                    p{
                        font-size: 0.28rem;
                        color: #999;
                        margin: 0;
                    }
                }
                .you2{
                    margin-left: 0.75rem;
                }
            }
        }
    }
    .zi{
        margin: 0 0.18rem;
    }
}
.shisan{
    width: 100%;
    p{
        text-indent: 2em;
        line-height: 0.5rem;
        margin: 0.36rem 0.18rem;
        font-size: 0.28rem;
        color: #333;
    }
}
.shisi{
    width: 100%;
    padding: 0.36rem 0;
    display: flex;
    justify-content:center;
    align-items: center;
    .ic6{
        width: 0.32rem;
        height: 0.32rem;
    }
    p{
        font-size: 0.26rem;
        color: #333;
        margin-left: 0.12rem;
    }
}
.shiwu{
    width: 100%;
    display: flex;
    .chu{
        width: 25%;
        text-align: center;
        border-right: 0.01rem solid #F4F4F4;
        p{
            font-size: 0.28rem;
            color: #333;
        }
    }
}
.shiliu{
    width: 100%;
    height: 1.06rem;
    display: flex;
    justify-content:space-between;
    background: rgba(0,0,0,0.8);
    .imgg{
        width: 0.48rem;
        height: 0.51rem;
    }
    .immg{
        width: 4.28rem;
        height: 0.87rem;
    }
    button{
        width: 1.75rem;
        height: 0.5rem;
        margin-top: 0.25rem;
        margin-right: 0.35rem;
        background: #FDB605;
        color: white;
        font-size: 0.24rem;
        border-radius: 0.3rem;
        border: none;
    }
}
.foott{
    width: 100%;
    height: 0.6rem;
}
